@font-face {
    font-family: Lato;
    font-style: normal;
    font-display: swap;
    src: url("../assets/fonts/Lato-Regular.ttf") format("truetype");
}

html, body {
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p, span {
    font-family: Lato, sans-serif;
    font-size: 18px;
    margin: 0;
}

